@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-200-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-200-normal.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-200-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-200-italic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-300-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-300-normal.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-300-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-300-italic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-400-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-400-normal.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-400-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-400-italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-500-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-500-normal.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-500-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-500-italic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-600-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-600-normal.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-600-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-600-italic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-700-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-700-normal.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-700-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-700-italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-800-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-800-normal.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-800-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-800-italic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-900-normal.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-900-normal.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('fonts/nunito-sans-latin-900-italic.woff2') format('woff2'),
       url('fonts/nunito-sans-latin-900-italic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}