$width: 700px;
$nav-height: 4rem;
$green: #02ca34;

$black-0: #000000;
$black-1: #3a3a3a;
$black-2: #696969;

$white-0: #f3f3f3;
$white-1: #e6e6e6;
$white-2: #909090;

$background-color: $white-1;
$color: $black-2;

$margin-inline: 2rem;

$border-s: 4px;
$border-m: 8px;
$border-l: 20px;

$border-width: 1.3px;

$gap-s: 8px;
$gap-m: 10px;
$gap-l: 15px;

$pad-s: 0.8rem;
$pad-m: 1rem;
$pad-l: 1.2rem;

$dot-size: 28px;

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile {
    @media (max-width: 480px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (max-width: 668px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (max-width: 1065px) {
      @content;
    }
  }
}

@mixin social-links-style {
  border-radius: $border-s;
  padding: 0.25rem;
  text-align: center;
}

@mixin hover-effect {
  border: $border-width solid $white-2;
  transition: all 0.3s ease-in-out;
}
@mixin hover-effect-hover {
  background-color: $white-0 !important;
  border: $border-width solid $white-0 !important;
}


@mixin bold-text {
  font-weight: 600;
}