@import '_variables.scss';

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: $nav-height;
  position: absolute;
  width: 100%;
  margin-inline: auto;
  transition: all 0.3s ease;
  box-shadow: 0 1px 2px 0px $white-2;
  z-index: 1000;
  #nav-container {
    display: flex;
    justify-content: flex-end;
    width: $width;
    @include respond-to(tablet) {
      justify-content: center;
    }
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
    height: 35px;
    border-radius: 6px;
    transition: all 0.3s ease;
    width: 140px;
    font-size: 0.9rem;
    border: 1px solid;
    font-weight: 600;
    .icons {
      width: 18px;
      height: 18px;
    }
  }
}


#flags {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#left {
  display: flex;
  gap: 2rem;
}
#right {
  display: flex;
  gap: 2rem;
}




