* {
  /* border: 0.5px solid black; */
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

#print {
  width: max-content;
}
#print p {
  font-size: 0.8rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

h1 {
  font-size: 2.2rem;
  font-weight: 800;
}

h2 {
  color: var(--softGrey);
  font-weight: 500;
  font-size: 1.1rem;
  text-wrap: balance;
}

#img {
  object-fit: cover;
  border-radius: 25px;
}

span {
  color: var(--softGrey);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
  letter-spacing: -0.01rem;
}

footer {
  display: flex;
  flex-direction: column;
}

footer,
#profiles {
  width: min-content;
}

#profiles,
#webPage {
  display: flex;
  gap: 8px;
  margin-left: 0;
  margin-block: 4px;

  font-size: 0.7rem;
  color: var(--softGrey);
}
#webPage {
  width: 100%;
}

footer a {
  color: var(--softGrey);
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--softGrey);
  justify-content: center;
  padding: 4px;
  height: 32px;
  width: 32px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

footer a:hover {
  background: var(--light);
  border: 2px solid var(--softWhite);
}

@media screen and (max-width: 670px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .container * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer a {
    height: 40px;
    width: 40px;
  }
  a > p {
    font-size: 1.05rem;
    font-weight: 500;
  }
  h1 {
    text-align: center;
  }
}
