:root {
  font-family: 'Nunito Sans Variable', 'Onest Variable', 'Figtree Variable',
    Avenir, Helvetica, Arial;
  background-color: var(--white-1);
  color: var(--black-2);

  --width: 700px;
  --green: #02ca34;

  --white-0: #f3f3f3;
  --white-1: #e6e6e6;
  --white-2: #909090;
  --black-2: #696969;
  --black-1: #3a3a3a;
  --black-0: #000000;

  --border-s: 5px;
  --border-m: 8px;
  --border-l: 20px;

  --gap-s: 8px;
  --gap-m: 10px;
  --gap-l: 15px;

  --pad-s: 0.8rem;
  --pad-m: 1rem;
  --pad-l: 1.2rem;
}

.hoverr:hover {
  background-color: var(--white-0);
  border: 1px solid var(--white-0);
}
.hoverr {
  transition: all 0.3s ease-in-out;
}

@media print {
  #no-print {
    display: none !important;
  }
}

#print {
  display: none !important;
  font-size: 0.9rem;
  color: var(--softGrey);
}

@media print {
  #print {
    display: block !important;
  }
  html {
    background-color: var(--totalWhite) !important;
  }
  p,
  span,
  h2,
  time {
    color: var(--darkGrey) !important;
  }
  article p {
    width: 550px !important;
  }
}

@media screen and (max-width: 670px) {
  main {
    padding-inline: 2rem;
    padding-block: 3rem;
  }
  #arrow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 4px;
  }
}
