@import '_variables.scss';

h1, h2 {
  color: $black-1;
}
/* NOMBRE DE PERFIL */
* {
  // border: 1px solid red;
}
h1 {
  font-family: 
    'Figtree Variable', 
    'Nunito Sans Variable',
    Avenir,
    sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
}
/* TITULOS DE LAS SECCIONES */
h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 800;
  
  @include respond-to(mobile) {
    font-size: 1.3rem;
    line-height: 1.3;
  }
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
  @include respond-to(mobile) {
    font-size: 1rem;
    text-wrap: pretty;
    word-wrap: break-word;
  }
}
/* TITULOS DE LOS PROYECTOS */
h4{
  font-size: 1.1rem;
  font-weight: 750;
  color: $black-2;
  @include respond-to(mobile) {
    font-size: 1rem;

  }
}

p {
  font-size: 1rem ;
  text-wrap: pretty;
  word-wrap: break-word;
  @include respond-to(tablet) {
    font-size: 0.85rem;
  }
}
p.bold {
  font-weight: 650;
}
ul {
  list-style: none;
}

span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
  letter-spacing: -0.01rem;
  
}

label {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}
svg#dot {
  max-width: $dot-size;
  width: 100%;
  height: auto;
  max-height: $dot-size;
  @include respond-to(mobile) {
    max-width: 23px;
    max-height: 23px;
  }
}


svg.icons-fill {
  padding: 0.02rem;
  fill: $black-2;
}
svg.icons-stroke {
  stroke: $black-2;
}

@media print {
  .print {
    display: block !important; 
  }
  .no-print {
    display: none !important;
  }
  #education {
    padding-top: 7rem;
  }
  @include print-styles;
}

@media screen {
  .print {
    display: none;
  }
}