html {
  letter-spacing: -0.0005rem;
  font-family: 'Onest Variable', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
}

main {
  padding-inline: 4rem;
  padding-block: 6.6rem;
  margin: auto;
  width: 100%;
}

section {
  max-width: 700px;
  width: 100%;
  margin: 0 auto 45px;
  border: 0.5px solid var(--white-1);
}
h2 {
  line-height: 1.5;
  font-weight: 700;
  font-size: 1.8rem;
}
h1, h2 {
  color: red;
}

h3 {
  font-weight: 600;
}

p {
  font-size: 1rem;
  text-wrap: pretty;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: var(--darkGrey);
}

ul {
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media print {
  #no-print {
    display: none !important;
  }
}

#print {
  display: none !important;
  font-size: 0.9rem;
  color: var(--softGrey);
}


@media print {
  #print {
    display: block !important;
  }
  html {
    background-color: var(--totalWhite) !important;
  }
  p,
  span,
  h2,
  time {
    color: var(--darkGrey) !important;
  }
  article p {
    width: 550px !important;
  }
}

@media screen and (max-width: 670px) {
  main {
    padding-inline: 2rem;
    padding-block: 3rem;
  }
  #arrow {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 4px;
  }
}

p.caption {
  font-size: 0.9rem;
}
p.bold {
  font-size: 1.3rem;
  font-weight: 600;
}
label {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}

