// @import '_variables.scss';

h1, h2 {
  color: $black-1;
}
/* NOMBRE DE PERFIL */
h1 {
  font-family: 
    'Figtree Variable', 
    'Nunito Sans Variable',
    Avenir,
    sans-serif;
  font-size: 2.4rem;
  font-weight: 800;
}
/* TITULOS DE LAS SECCIONES */
h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 800;
}
h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
/* TITULOS DE LOS PROYECTOS */
h4{
  font-size: 1.1rem;
  font-weight: 750;
  color: $black-2;
}

p {
  font-size: 1rem;
  text-wrap: pretty;
  word-wrap: break-word;
  font-weight: 450;
}
p.bold {
  font-weight: 650;
}
ul {
  list-style: none;
}

span {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 1rem;
  letter-spacing: -0.01rem;
}

label {
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
}
svg#dot {
  max-width: $dot-size;
  width: 100%;
  height: max-content;
}


.hoverr:hover {
  background-color: $white-0 !important;
  border: $border-width solid $white-0 !important;
}
.hoverr {
  border: $border-width solid $white-2;
  transition: all 0.3s ease-in-out;
}

