section.education {
  ul {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
}
article.job-cards {
  header {
    display: flex;
    width: 100%;
    span {
      display: flex;
      gap: 7px;
    }
    time {
      margin-left: auto;
    }
  }

}

