section.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  svg.icons {
    width: 1.4rem;
    height: 1.4rem;
  }
  div#section-main.hero {
    display: flex;
    flex-direction: row ;
    align-items: center;
  }
}
div.info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  header {
    display: flex;
    flex-direction: column;
  }
}
footer#social-links {
  width: max-content;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  div#social-links {
    display: flex;
    gap: 0.5rem;
  }
  .social-links, #calendly {
    border-radius: var(--border-s);
    transition: all 0.3s ease-in-out;
    padding: 0.3rem;
    width: 2.2rem;
    height: 2.2rem;
  }
  svg.icons.fill {
    fill: var(--black-2);
  }
  svg.icons.stroke {
    stroke: var(--black-2);
  }
  svg.icons {
    width: 100%;
    height: 100%;
  }
  a#web-page, button#calendly{
    text-align: center;
    width: 100% !important;
    text-wrap: nowrap;
  }
}

#print {
  width: max-content;
}
#print p {
  font-size: 0.8rem;
}

figure#avatar{
  width: 140px;
  height: 140px;
  border-radius: 1.8rem;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 670px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .container * {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer a {
    height: 40px;
    width: 40px;
  }
  a > p {
    font-size: 1.05rem;
    font-weight: 500;
  }
  h1 {
    text-align: center;
  }
}

.toasts-container {
  margin-block: var(--nav-height);
  height: 85vh;
}
.toasts {
  background-color: var(--white-0);
  width: max-content;
}
