section.education {
  ul {
    display: flex;
    flex-direction: column;
    gap: 19px;
  }
  a:hover {
    /* text-decoration: underline; */
    color: var(--softGrey);
    text-shadow: 2px 2px 4px var(--light);
  }
}

article.job-cards {
  display: flex;
  justify-content: space-between;
  header {
    display: flex;
    width: 80%;
    span {
      display: flex;
      gap: 10px;
      align-items: center;
      width: max-content;
      h4, p {
        text-wrap: nowrap;
      }
    }
  }
  svg.icons {
    width: 20px;
    height: 20px;
  }
  p {
    font-size: 0.8rem;
    text-align: right;
    width: 17%;
  }
  #lightWeight {
    font-weight: 400;
    color: var(--softGrey);
  }
  #institution {
    color: var(--darkGrey);
    font-weight: 500;
  }
}