section.languages {
  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }
  li.language-cards {
    flex: 1 0 calc(50% - 1rem);
    max-width: 50%;
    border-radius: 8px;
    border: 1px solid var(--white-2);
    padding: 16px;
    header {
      gap: 9px;
      display: flex;
      flex-direction: row;
      span {
        font-weight: 700;
      }
      p {
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 0;
        font-size: 1.1rem;
        
      }
  }
  }
  @media print {
    #print {
      page-break-before: auto;
    }
  }
}
