@import '_variables.scss';

section#projects {
  ul#projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
}

li.project-cards {

  a {
    border-radius: 8px;
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
    border: $border-width solid $white-2;
    overflow: hidden;
    @include hover-effect;
    &:hover {
      @include hover-effect-hover;
    }
  }
  a
  header {
    flex: 1;
    h4 {
      display: flex;
      align-items: center;
      margin-bottom: 4px;
      gap: 0.5rem;
    }
    p {
      font-size: 0.95rem;
      line-height: 1.2rem;
      margin-bottom: 4px;
    }
    span {
      color: $green;
    }
  }
  footer {
    display: flex;
    gap: 4px;
    width:inherit;
    flex-wrap: wrap;
    span {
      display: flex;
      justify-content: center;
      border-radius: 6px;
      background: #c6c6c6;
      font-size: 0.8rem;
      font-weight: 500;
      padding: 0.2rem 0.6rem;
      display: inline-flex;
      width: max-content;
    }
  }
   
}