section.experience {
 
  ul {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }


  @media screen and (max-width: 670px) {
    article time {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      text-align: right;
    }
  }
  @media print {
    #print {
      page-break-before: auto;
    }
  }
}

li.experience-cards {
  article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    header {
      display: flex;
      span {
        display: flex;
        gap: 7px;
      }
      time {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-left: auto;
        font-size: 0.85rem;

      }
    }
  }
  section{

    p {
      margin-left: 20px;
      font-size: 0.9rem;
      line-height: 1.3rem;
      margin-top: 2px;
    }
  }

}


svg.dots {
  width: 20px;
}
a.companies, a.institutions {

  transition: all 0.3s ease-in-out;
}
a.companies:hover, a.institutions:hover {
  text-decoration: underline;
  color: var(--black-0);
}