@import '_variables.scss';


section#experience {
  ul#experience-container {
    display: flex;
    flex-direction: column;
    gap: 22px;
    li {
      display: flex;
    }
  }
  *{
    // border: 1px solid red;
  }
}
article.experience-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  header {
    display: flex;
    width: 100%;
    @include respond-to(mobile) {
      align-items: start;
      flex-direction: row;
      gap: 0.5rem;
    }
    div.title-card {
      display: flex;
      width: 100%;
      
      
      .position-text {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
        align-items: center;
        width: 100%;

        strong {
          font-weight: bold;
          font-size: 1.1rem;
        }

        .at-text {
          font-weight: normal;
          font-size: 1.1rem;
        }

        .company-link {
          font-weight: bold;
          font-size: 1.1rem;
          transition: all 0.3s ease-in-out;
          
          &:hover {
            text-decoration: underline;
            color: $black-0;
          }
        }

        @include respond-to(mobile) {
          gap: 0.15rem;
          
          strong, .at-text, .company-link {
            font-size: 1rem;
          }
        }
      }
      
    }
    time {
      // border: 1px solid red;
      margin-left: auto;
      white-space: nowrap;
      @include respond-to(mobile) {
        margin-left: 0;
        white-space: wrap;
        text-align: left;
      }
    }
  }
}

a.companies,
a.institutions {
  transition: all 0.3s ease-in-out;
}
a.companies:hover,
a.institutions:hover {
  text-decoration: underline;
  color: $black-0;
}
