@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: var(--softWhite);

  --green: #02ca34;

  --white: #ffffff;
  --softWhite: #e9e9e9;

  --light: #d2d2d2;

  --softGrey: #7b7b7b;
  --darkGrey: #4b4b4b;

  --black: #393939;

  --white-0: #ffffff;
  --white-1: #dedede;
  --softGrey: #7b7b7b;
  --darkGrey: #4b4b4b;

  --black-0: #000000;
  --black-1: #101010;

  --color-main-0: #134379;
  --color-main-1: #1b5faa;

  --color-sec-0: #ffc20e;
  --color-sec-1: #ffe390;

  --border-s: 6px;
  --border-m: 10px;
  --border-l: 40px;
  --border-xl: 40px;

  --shadow-xs: 0px 1px 2px #29292980;
  --shadow-s: 0 0 5px 0 #6c6b6bed;
  --shadow-m: 2px 0 10px 0 #212121ed;
  --shadow-l: 2px 0 10px #212121ed;
}

* {
  /* border: 0.5px solid black; */
}
